*.egg-info/
**/__pycache__/
**/fastfl
**/fastflh
**/*.npy
**/*.pt
**/*.csv
**/*.png
**/*.txt
!require*.txt
**/NLFFF
**/nf2/wandb
**/Wiegelmann/prepro
**/Wiegelmann/relax1
**/Wiegelmann/relax1_openmp
*.bat